
body {
    background-color: lightgrey;
}

* {
    box-sizing: border-box;
}

#container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: brown;
    margin: 12px auto;
    width: 650px;
    height: 650px;
    border: 1px solid black;
}

.box {
    display: flex;
    flex-grow: 1;
    background-color: grey;
    border: 1px solid black;
}

#numberBtn {
    margin: 20px;
}