
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

* {
    box-sizing: border-box;
}

#container {
    background-color: maroon;
    gap: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px;
}

.box {
    display: flex;
    align-items: flex-start;
    background-color: grey;
}

#numberBtn {
    width: 100px;
    height: 55px;
    margin: 20px;
}